.carousel-item img{
    height: 600px;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
}

.bg-img{
    background-image: url(../images/LX_COM42_Living_TheReport_01.jpg);
    background-size: 100% 100%;
    /* height: 600px; */
}
.custom-img-height{
    height: 500px;
}

.preserve{
    perspective: 2000px; 
}
.transform-card{
    width: 30%;
    transition: all 1s;
    padding: 2%;
    box-shadow: 0px 0px 4px 3px lightgray;
    margin: 5% auto;
    background-color: goldenrod;

}
.transform-card:hover{
    transform: rotateY(180deg);
}